{
    "PG_USER": "your_database_user",
    "PG_HOST": "localhost",
    "PG_DATABASE": "dragon_db",
    "PG_PASSWORD": "your_database_password",
    "PG_PORT": 5432,
    "JWT_SECRET": "your_jwt_secret_key"
}


# Create a JWT_SECRET key using the command below and add it to your env.json file:
# node -e "console.log(require('crypto').randomBytes(32).toString('base64'))" 