.chat-room {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .messages {
    height: 70vh;
    width: 80vh;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 500px
  }
  
  .message {
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    background-color: #e1f5fe;
    color: #000;
    word-wrap: break-word;
  }
  
  .message-input {
    display: flex;
  }
  
  .message-input input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
  }
  
  .message-input button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 0 4px 4px 0;
    background-color: #2196f3;
    color: white;
    cursor: pointer;
  }
  
  .chat-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f3f4f6;
  }