.chat-page {
  display: flex;
  height: 100vh;
}

.chat-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-list {
  flex: 0.3; /* 30% width for the chat list */
  background-color: #f4f4f4;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.chat-room {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .messages {
    height: 70vh;
    width: 80vh;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 500px
  }
  
  .message {
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    background-color: #e1f5fe;
    color: #000;
    word-wrap: break-word;
  }
  
  .message-input {
    display: flex;
  }
  
  .message-input input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
  }
  
  .message-input button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 0 4px 4px 0;
    background-color: #2196f3;
    color: white;
    cursor: pointer;
  }
  
  .chat-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30vw;
    justify-content: right;
    align-items: right;
    background-color: #d9dbdf;
    padding-right: 20px
  }